# Supabase Configuration
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
SUPABASE_ANON_KEY=your-anon-key

# Mercado Pago Configuration
MP_ACCESS_TOKEN=your-mp-access-token

# Melhor Envio Configuration
ME_TOKEN=your-me-token
ME_URL=https://sandbox.melhorenvio.com.br # Use https://www.melhorenvio.com.br for production
# Configurações da Loja (Usado para etiquetas de envio)
STORE_NAME=Noble Acabamentos
STORE_DOCUMENT=SEU_CPF_OU_CNPJ_AQUI
STORE_PHONE=48988799001
STORE_EMAIL=contato@nobleacabamentos.com.br
STORE_ADDRESS=Rua Zelcy Burigo
STORE_NUMBER=658
STORE_DISTRICT=Jardim Itália
STORE_CITY=Cocal do Sul
STORE_STATE=SC
STORE_ORIGIN_CEP=88845000
